body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;

    margin: 0% auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.section {
    padding: 96px 16px;


}


.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

/* #region header */

.main-page {
    background-color: inherit;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;


}

.page-navigation {
    background-color: inherit;
    display: flex;
    align-items: center;


}



.navigation-list {

    display: none;

}


.contacts {
    display: none;
}



.menu-header {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    flex-direction: column;
    padding: 0;
    justify-content: flex-end;

}


.header-icon-menu {

    fill: #2F2F37;
}

.mobile-menu-backdrop {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);

}

.menu-is-open {
    transform: translateX(0);
}

.mobile-menu {
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding-top: 72px;
    padding-left: 16px;
    position: relative;

}

.menu-close-popup {
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    fill: #2e2f42;
    padding: 0;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: 168px;
}

.mobile-menu-item {
    margin-bottom: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.mobile-nav-link:focus {
    color: #404bbf;
}

.mobile-contacts {
    font-style: normal;
    margin-left: auto;
    margin-bottom: 48px;
}

.mobile-contact-item {
    margin-bottom: 24px;
}

.mobile-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;

}

.mobile-contact-link:focus {
    color: #4d5ae5;
}


.mobile-social-list {
    display: flex;

    align-items: center;
    gap: 40px;

}



.menu-icon-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;

    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.menu-icon-link:focus {
    background-color: #404BBF;
}

.soc-icon {
    fill: #F4F4FD;
    width: 24px;
    height: 24px;



}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;

    }

    .header-container {
        padding-top: 0;
        padding-bottom: 0;

        display: flex;

    }


    .header-logo {

        margin-right: 120px;
    }

    .navigation-list {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        gap: 40px;


    }

    .navigation-list-link {
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-list-link.current {
        position: relative;
    }

    .navigation-list-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;

        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
    }



    .contacts {
        display: flex;
        font-style: normal;
        margin-left: auto;


    }

    .list-contact {
        color: #434455;
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: 0.04em;
        display: flex;
        gap: 12px;
        flex-direction: column;


    }

    .list-contact-link {
        display: flex;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-list-link:hover,
    .navigation-list-link:focus,
    .list-contact-link:hover,
    .list-contact-link:focus,
    .navigation-list-link.current {
        color: #404bbf;
    }



    .menu-header {
        display: none;
    }
}

@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 76px;
    }

    .list-contact {

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        gap: 40px;
        flex-direction: row;
    }
}

/* #endregion header */